@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

:root {
  --softOrange: hsl(35, 77%, 62%);
  --softRed: hsl(5, 85%, 63%);
  --offWhite: hsl(36, 100%, 99%);
  --grayishBlue: hsl(233, 8%, 79%);
  --darkGrayishBlue: hsl(236, 13%, 42%);
  --varyDarkBlue: hsl(240, 100%, 5%);

  --max-width: 375px;
  --px: 15px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  list-style: none;
  border: none;
  background-color: transparent;
}
p {
  font-size: var(--px);
  line-height: 1.5rem;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'Inter', sans-serif;
  max-width: 1440px;
  display: block;
  margin: 0 auto;
}
header,
footer,
main {
  display: block;
  margin: 0 auto;
  max-width: var(--max-width);
  background-color: var(--offWhite);
  color: var(--varyDarkBlue);
}
footer {
  display: block;
  margin: 50px auto;
  text-align: center;
}

.menu {
  height: 100vh;
  width: 80%;
  right: 0;
  position: absolute;
  top: 0;
  padding: 10rem 3rem;
  background-color: var(--softOrange);
  transition: 300ms ease-in-out;
  transform: translateX(330px);
}
.close-menu {
  cursor: pointer;
}
.menu ul .close-menu {
  position: absolute;
  right: 2rem;
  top: 2rem;
}
.menu ul li {
  font-size: 15px;
  line-height: 3rem;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.active {
  transform: translateX(0);
}
.extra {
  background: var(--grayishBlue);
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 35;
  width: 100%;
  height: auto;
  position: fixed;
}

main {
  width: var(--max-width);
}

.container-principal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container-principal .principal-news {
  background-color: var(--varyDarkBlue);
  color: var(--offWhite);
  padding: 1rem;
}

.container-principal .principal-news h2 {
  color: var(--softOrange);
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.container-principal .principal-news .content-news {
  padding: 1.5rem 0;
  cursor: pointer;
}

.container-principal .principal-news .news-title {
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  transition: 200ms;
}
.container-principal .principal-news .news-title:hover {
  color: var(--softOrange);
}

.container-principal .principal-news .news-subTitle {
  color: var(--darkGrayishBlue);
  line-height: 1.8rem;
  font-size: 1.2rem;
}

.container-principal .principal-news .content-news:nth-child(odd) {
  border-top: 1px solid var(--darkGrayishBlue);
  border-bottom: 1px solid var(--darkGrayishBlue);
}

.principal-content {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0 0;
}
.principal-content button {
  background-color: var(--softRed);
  text-transform: uppercase;
  color: var(--offWhite);
  padding: 1rem 2.2rem;
  cursor: pointer;
  justify-self: flex-end;
  max-width: fit-content;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.152em;
  margin-top: 1rem;
}
.principal-content button:hover {
  background-color: var(--varyDarkBlue);
}
.principal-content h1 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.principal-content div p {
  color: var(--darkGrayishBlue);
}

.container-more-links {
  display: flex;
  margin-top: 3rem;
  gap: 2rem;
  flex-wrap: wrap;
}
.container-more-links img {
  max-width: 100px;
}
.container-more-links > .flex-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.container-more-links > .flex-container h3 {
  font-size: 2rem;
  color: var(--grayishBlue);
}
.container-more-links .flex-container div p:nth-child(2) {
  font-weight: 900;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 200ms;
  padding: 1rem 0;
}
.container-more-links .flex-container div p:nth-child(2):hover {
  color: var(--softRed);
}
.container-more-links .flex-container div p:nth-child(3) {
  line-height: 1.5em;
  color: var(--darkGrayishBlue);
}
/* DESKTOP */
@media only screen and (min-width: 992px) {
  :root {
    --max-width: 90%;
  }
  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
  }
  .mobile-only {
    display: none;
  }
  .menu {
    position: relative;
    height: auto;
    width: auto;
    background-color: unset;
    position: relative;
    height: auto;
    background-color: unset;
    transform: none;
    padding: 0;
  }
  .menu ul {
    display: flex;
  }
  .menu ul li {
    padding: 0 1rem;
    cursor: pointer;
  }
  .menu ul li:hover {
    color: var(--softOrange);
  }
  .container-principal {
    flex-direction: row;
  }
  .container-principal .principal-image {
    width: 70%;
  }
  .container-principal .principal-news {
    width: 30%;
    background-color: var(--varyDarkBlue);
    color: var(--offWhite);
  }
  .principal-content {
    flex-direction: row;
  }
  .principal-content h1,
  .principal-content div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .principal-content h1 {
    font-size: 4rem;
  }
  .principal-content button {
    justify-self: flex-start;
    margin: 0 2rem;
  }
  .principal-content div p {
    padding: 0 2rem;
  }
  .container-more-links {
    flex-wrap: nowrap;
  }
}

footer {
  display: block;
  margin: 50px;
  text-align: center;
}
footer .attribution a,
footer .attribution {
  color: var(--softRed);
}
