@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
:root {
  --primary-red: hsl(0, 78%, 62%);
  --primary-cyan: hsl(180, 62%, 55%);
  --primary-orange: hsl(34, 97%, 64%);
  --primary-blue: hsl(212, 86%, 64%);

  --neutral-darkBlue: hsl(234, 12%, 34%);
  --neutral-grayishBlue: hsl(229, 6%, 66%);
  --neutral-lightGray: hsl(0, 0%, 98%);

  --max-width: 375px;
  --px: 15px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  list-style: none;
  border: none;
  background-color: transparent;
}
p {
  font-size: var(--px);
  line-height: 1.5rem;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'Poppins', sans-serif;
  max-width: 1440px;
  display: block;
  margin: 0 auto;
}
header,
footer,
main {
  display: block;
  margin: 0 auto;
  max-width: var(--max-width);
  background-color: var(--offWhite);
  color: var(--varyDarkBlue);
}
footer {
  display: block;
  margin: 50px auto;
  text-align: center;
}
.top-container {
  margin: 3rem auto;
  text-align: center;
}
.top-container h1 {
  font-size: 1.6rem;
  color: var(--neutral-darkBlue);
  font-weight: 300;
  
}
.top-container h1 b {
  font-weight: 600;
}
.top-container p {
  margin: 1rem 2rem;
  color: var(--neutral-grayishBlue);

}
.desk-only {
  display: none;
}

.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem;
  border-top: 3.5px solid;
  border-radius: 4px;
  margin: 1.5rem;
  max-width: 350px;
  max-height: 250px;
  display: grid;
}
.card h3 {
  color: var(--neutral-darkBlue);
  font-size: 1.5rem;
  margin-bottom: .5rem;
}
.card p {
  color: var(--neutral-grayishBlue);
  margin-bottom: 2rem;
}
.card img {
  justify-self: flex-end;
}
.cyan-card {
  border-color: var(--primary-cyan);
}
.red-card {
  border-color: var(--primary-red);
}
.orange-card {
  border-color: var(--primary-orange);
}
.blue-card {
  border-color: var(--primary-blue);
}
/* DESKTOP */
@media only screen and (min-width: 992px) {
  .desk-only {
    display: block;
  }
  :root {
    --max-width: 90%;
  }
  .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
footer {
  display: block;
  margin: 50px;
  text-align: center;
}
footer .attribution a,
footer .attribution {
  color: var(--neutral-darkBlue);
}
