@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
:root {
  --primary-cyan: hsl(171, 66%, 44%);
  --primary-blue: hsl(233, 100%, 69%);

  --neutral-dark: hsl(210, 10%, 33%);
  --neutral-light: hsl(201, 11%, 66%);

  --font-size: 18px;
  --font-family: "Bai Jamjuree", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  list-style: none;
  border: none;
  background-color: transparent;
}
p {
  font-size: var(--font-size);
  line-height: 1.5rem;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: var(--font-family);
  display: block;
  margin: 0 auto;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  color: var(--neutral-light);
  text-align: center;
}
header {
  width: 100%;
  margin-bottom: 11px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/bg-header-mobile.png);
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/***** ↓ HEADER ↓ *****/
.header-content {
  padding: 50px 15px;
  flex-direction: column;
  text-align: center;
}
.header-content h1.header-title {
  color: var(--neutral-dark);
  margin: 2rem 0;
}
.page-txt {
  color: var(--neutral-light);
}
/***** ↑ HEADER ↑ *****/

/***** ↓ BUTTON ↓ *****/
.content-btns {
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}
.content-btns button {
  width: 100%;
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 40px;
  color: #fff;
  font-weight: 400;
  font-size: var(--font-size);
  border-bottom: 3px solid #40404033;
  transition: 450ms;
  cursor: pointer;
}
.content-btns button#for-ios {
  background-color: var(--primary-cyan);
  box-shadow: 0px 7px 20px -10px var(--primary-cyan);
}
.content-btns button#for-mac {
  background-color: var(--primary-blue);
  box-shadow: 0px 7px 20px -10px var(--primary-blue);
}
.content-btns button:hover {
  opacity: 0.7;
}

/***** ↑ BUTTON ↑ *****/
.footer-list.flex,
.footer-menu.flex,
.footer-content.flex,
.second-content-list.flex,
.flex.first-content-list {
  flex-direction: column;
}
/***** ↓ FIRST CONTENT ↓ *****/
.main-list p:nth-child(1),
main h2.main-title {
  font-weight: 600;
  color: var(--neutral-dark);
}
main p.main-txt {
  padding: 2rem 0;
  font-size: 1rem;
}
main .main-list {
  padding: 3rem 0;
}
.main-list p:nth-child(1) {
  font-size: 20px;
}
.main-list p:nth-child(2) {
  margin: 2rem 0;
  font-size: 1rem;
}

/***** ↑ FIRST CONTENT ↑ *****/

.second-content-list li {
  margin-bottom: 2.55rem;
}
.second-content-list li p:nth-child(2) {
  font-weight: 600;
  color: var(--neutral-dark);
  font-size: 20px;
  padding: 1rem 0;
}
.second-content-list li p:nth-child(3) {
  font-size: 1rem;
}
.second-content h2.main-title {
  font-size: 26px;
}

.second-content p {
  padding: 2rem 0;
}

/***** ↓ FOOTER ↓  *****/
footer {
  display: block;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  background-color: rgba(159, 171, 178, 0.1);
}
footer img#logo-footer {
  margin-bottom: 2rem;
}
footer .attribution a,
footer .attribution {
  color: var(--neutral-light);
  font-size: 1rem;
}
footer ul.footer-list li a {
  margin: 1rem 0;
  color: var(--neutral-dark);
  cursor: pointer;
  transition: 300ms;
}
footer ul.footer-list li a:hover {
  color: var(--primary-cyan);
}
footer li.flex {
  flex-direction: column;
}
footer li.flex.socials {
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2rem 0;
}
footer .social a {
  margin: 0 1rem;
}
footer .social a svg path {
  transition: 300ms;
}
footer .social a:hover svg path {
  fill: var(--primary-cyan);
}
.footer-content {
  max-width: 80%;
  margin: 0 auto;
}
.footer-content img#logo-footer {
  width: 20%;
  height: 20%;
}
.social.flex {
  margin: 3rem 0;
}
/***** ↑ FOOTER ↑  *****/

/***** DESKTOP *****/
@media only screen and (min-width: 992px) {
  header {
    background-image: url(./images/bg-header-desktop.png);
  }
  .footer-list.flex,
  .footer-menu.flex,
  .footer-content.flex,
  .second-content-list.flex,
  .flex.first-content-list {
    flex-direction: row;
  }
  .flex.first-content-list,
  .content-btns {
    flex-direction: row;
  }
  .content-btns button {
    max-width: 250px;
    margin: 1rem;
  }
  .header-content .page-txt {
    max-width: 560px;
  }
  .page-txt {
    max-width: 680px;
    margin: 1rem 0;
  }

  .main-list {
    text-align: left;
    max-width: 350px;
  }
  main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flex.first-content-list {
    margin: 2rem 0 8rem 0;
  }
  .flex.first-content-list .main-list {
    align-self: flex-end;
  }
  .flex.first-content-list img {
    margin-left: -20rem;
    margin-right: 5rem;
  }
  .second-content-list.flex {
    justify-content: space-evenly;
  }
  .second-content-list li {
    max-width: 30%;
  }
  .second-content-list li p {
    padding: 0 3rem;
  }
  .second-content-list.flex {
    margin: 3rem 0;
  }

  .footer-content img#logo-footer {
    width: 3%;
    height: 3%;
    margin: 3rem;
  }

  footer li.flex {
    align-items: flex-start;
  }
}
