@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
:root {
  --primary-violet: hsl(257, 40%, 49%);
  --primary-softMagenta: hsl(300, 69%, 71%);

  --font-headings: 'Poppins', sans-serif;
  --font-body: 'Open Sans', sans-serif;
}

body {
  background-color: var(--primary-violet);
  background-image: url('./images/bg-mobile.svg');
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
}

header,
main,
footer {
  padding: 2rem;
  color: white;
}

header {
  font-family: var(--font-headings);
  font-weight: 600;
  font-size: 1.5rem;
}
header h1 {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

main > .flex {
  flex-direction: column;
}
.flex {
  display: flex;
  align-items: center;
}

main {
  font-family: var(--font-body);
  text-align: center;
}

.container-content {
  margin: 2rem 0;
}

.container-content p {
  font-size: 0.8rem;
  line-height: 1.5;
  margin: 1rem 0.2rem;
  font-size: 1rem;
}

.container-content button {
  background-color: white;
  color: var(--primary-violet);
  padding: 0.8rem 6rem;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: 0.51s;
}
.container-content button:hover {
  background-color: var(--primary-softMagenta);
  color: white;
}

.container-social-links ion-icon {
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 50%;
  margin: 0 0.5rem;
}
.container-social-links ion-icon:hover {
  border-color: var(--primary-softMagenta);
  color: var(--primary-softMagenta);
  transition: 0.51s;
  font-weight: 600;
}
/* DESKTOP */
@media only screen and (min-width: 992px) {
  body {
    background-image: url('./images/bg-desktop.svg');
    max-width: 1440px;
  }

  main > .flex {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  main > .flex > div:nth-child(1) {
    width: 60%;
  }
  main > .flex > div:nth-child(2) {
    width: 40%;
  }
  .container-content {
    text-align: left;
    /* margin: 0 3rem 0 5rem; */
  }
  .container-content h2 {
    font-size: 2.8rem;
  }
  .container-content p {
    font-size: 1rem;
  }
  .container-social-links {
    margin: 3rem 3rem 0;
    float: right;
  }
  footer {
    margin-top: 2rem;
  }
}

footer .attribution {
  font-family: var(--font-headings);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
footer .attribution a {
  color: white;
  margin: 0 0.2rem;
}
